<%= form_for sales_batch, url: sales_batches_path, html: { class: 'form-inline' } do |f| %>
  <%= f.file_field :attachment, class: 'form-control' %>
  <%= f.submit 'Enviar', class: 'glyphicon glyphicon-cloud-upload btn btn-success' %>
  <h4> Instruções para novo lote</h4>
  <p>
    Para criar um novo lote de vendas, selecione um arquivo no formato '.txt'
    com dados separados por <code>TAB</code>.
    <br />
    A primeira linha do arquivo deve conter os nome das colunas obrigatóriamente:

    <pre>Comprador descrição Preço Unitário  Quantidade  Endereço  Fornecedor</pre>

    Você pode baixar um arquivo de  exemplo aqui
    <%= link_to "Exemplo", "/sales.txt", class: 'glyphicon glyphicon-cloud-download btn-success' %>.
  </p>
<% end %>
