<div class='row'>
  <%= render partial: 'form_new', locals: { sales_batch: SalesBatch.new } %>
</div>

<hr />

<% #TODO: Move this to presenter %>
<% if @sales_batches.empty? %>
  <strong> Sem dados </strong>
<% else %>
  <%= react_component 'BatchListTable', { batches: @sales_batches } %>
<% end %>
